<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
      <a href="https://kuleuven.mediaspace.kaltura.com/media/Jan+Czarnocki/1_4ll4pao8" target="_blank">
        <img src="/stories/2020/JRE/image34.png" width="100px">
      </a>
    <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
      <b>Jan Czarnocki</b><br/>Impact of AI and IoT on privacy and data protection.
    </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
      <a href="https://kuleuven.mediaspace.kaltura.com/media/Dries+Debeer/1_ytgaoy0u" target="_blank">
        <img src="/stories/2020/JRE/image09.png" width="100px">
      </a>
    </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
      <b>Dries Debeer</b><br/>Modelling learning behaviour in augmented and virtual realities.
    </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Andre%CC%81+Guilherme+Massano+Tavares/1_jjudrz4s" target="_blank">
      <img src="/stories/2020/JRE/image12.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>André Tavares</b><br/>Modal analysis and machine learning for structural dynamics.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Victor+Verreet/1_0eehtxdm" target="_blank">
      <img src="/stories/2020/JRE/image24.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Victor Verreet</b><br/>Integrating continuous variables in hybrid probabilistic logic programming.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Pieter+Delobelle/1_eucayxeo" target="_blank">
      <img src="/stories/2020/JRE/image31.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Pieter Delobelle</b><br/>Natural language processing, fairness and bias, and their intersection.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Quinten+Van+Baelen/1_p1y692jz" target="_blank">
      <img src="/stories/2020/JRE/image41.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Quinten Van Baelen</b><br/>Integrating additional knowledge in traditional machine learning methods.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Elisabeth+Heremans/1_7loh11ol" target="_blank">
      <img src="/stories/2020/JRE/image47.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Elisabeth Heremans</b><br/>Automated sleep staging based on wearable brain monitoring devices.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Zhenxiang+Cao/1_woss0o4z" target="_blank">
      <img src="/stories/2020/JRE/image51.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Zhenxiang Cao</b><br/>Deep learning for change point detection and time series segmentation.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Jeroen+Ooge/1_xiswuv0x" target="_blank">
      <img src="/stories/2020/JRE/image52.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Jeroen Ooge</b><br/>Human-Computer-Interfaces related to visual analytics and explainable AI.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Dejana+Ugrenovic/1_b4uzwfn5" target="_blank">
      <img src="/stories/2020/JRE/image54.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Dejana Ugrenovic</b><br/>Safety-critical, autonomous systems with ML components.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Peter+Coppens/1_c1jyqviz" target="_blank">
      <img src="/stories/2020/JRE/image55.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Peter Coppens</b><br/>Data-driven dynamical systems identification and control.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Muzaffer+Ayvaz/1_rn9lko8k" target="_blank">
      <img src="/stories/2020/JRE/image59.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Muzaffer Ayvaz</b><br/>Global optimization of multivariate polynomials using tensor methods.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Jonas+Doumen/1_wjgzyh05" target="_blank">
      <img src="/stories/2020/JRE/image11.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Jonas Doumens</b><br/>Autonomous agents learning human-like languages.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Klaas+Thoelen/1_ncm4npz8" target="_blank">
      <img src="/stories/2020/JRE/image58.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Klaas Thoelen</b><br/>Optimization of energy consumption through demand response.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Gavin+Rens/1_r0rowniq" target="_blank">
      <img src="/stories/2020/JRE/image01.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Gavin Rens</b><br/>Safety in reinforcement learning and optimization in MDP planning.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Matthias+De+Ryck/1_qaqkszef" target="_blank">
      <img src="/stories/2020/JRE/image06.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Matthias De Ryck</b><br/>Migration from centralized to decentralized logistics systems.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Simon+Vandevelde/1_16frpp5n" target="_blank">
      <img src="/stories/2020/JRE/image20.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Simon Vandevelde</b><br/>User-friendly representation of domain knowledge with cDMN.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Pierre+Carbonelle/1_se4g8pno" target="_blank">
      <img src="/stories/2020/JRE/image36.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Pierre Carbonelle</b><br/>Intelligent algorithms for legal applications.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Marjolein+Deryck/1_bk2g8l2k" target="_blank">
      <img src="/stories/2020/JRE/image45.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Marjolein Deryck</b><br/>Expert knowledge expressions and inference for problem solving.
  </div>
</div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Roman+Kandinskii/1_mm2mu8po" target="_blank">
      <img src="/stories/2020/JRE/image07.png" width="100px">
    </a>
  </div>
</div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Roman Kandinskii</b><br/>Model compression for numerically efficient fluid dynamics modelling.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Jeroen+Audenaert/1_838ohgqf" target="_blank">
      <img src="/stories/2020/JRE/image19.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Jeroen Audenaert</b><br/>Classification of stellar variability time-series.
    </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Toon+Vanderschueren/1_jcsh6raj" target="_blank">
      <img src="/stories/2020/JRE/image22.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Toon Vanderschueren</b><br/>Cost-senstitive machine learning for business applications.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Arne+Van+De+Kerchove/1_iagzunp2" target="_blank">
      <img src="/stories/2020/JRE/image37.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Arne Van De Kerchove</b><br/>Development of brain-computer interfaces.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Thijs+Peirelinck/1_wzeclxfv" target="_blank">
      <img src="/stories/2020/JRE/image40.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Thijs Peirelinck</b><br/>Demand response optimization using reinforcement learning.
  </div>
  </div>
</div>

<div class="row">
  <div class="column col-md-2">
    <!-- <div class="vert-center"> -->
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Suzanna+Cuypers/1_2wdb87y0" target="_blank">
      <img src="/stories/2020/JRE/image56.png" width="100px">
    </a>
  <!-- </div> -->
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Suzanna Cuypers</b><br/>Object detection for improving accuracy of concrete placement.
  </div>
  </div>
  <div class="column col-md-2">
    <div class="vert-center">
    <a href="https://kuleuven.mediaspace.kaltura.com/media/Jorik+Jooken/1_dnk8ohch" target="_blank">
      <img src="/stories/2020/JRE/image65.png" width="100px">
    </a>
  </div>
  </div>
  <div class="column col-md-4">
    <div class="vert-center">
    <b>Jorik Jooken</b><br/>Combinatorial optimisation interacting with machine learning.
  </div>
  </div>
</div>
